* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #121113;
    background-color: #FCFAF6;
    height: 100%;
    margin: 0; 
}

main {
    margin: 0 auto;
    max-width: 2000px;
    min-height: 100vh;
}

nav{
    max-width: 2500px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FCFAF6;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: px;
}

.nav-container img {
    width: 184px;
}


.nav-ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;    
}

.nav-li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 30px;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 8px;
    border: solid 2px transparent;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.nav-li:hover {
    border-color: #121113;

}

.nav-li:active {
    color: #FCFAF6;
    background-color: #121113;
}

a {
    text-decoration: none;
    color: #121113;
}



li {
    list-style: none;
    color: #121113;
}


h1 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin: 0;
}

h2 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.center-img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/* BACKGROUND VIDEO */

.hero {
    padding-top: 19px;
    margin-top: 100px;
}

.bg-video-wrapper {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

/* Gradient overlay ONLY on the video */
.bg-video-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

/* HEADER CONTENTS */

.header-logo {
    height: 300px;
}

.header-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 150px;
    z-index: 2;
    right: 100px;
}

.header-button {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 25px 60px;
    border-radius: 10px;
    border: solid 2px #FCFAF6;
    background: transparent;
    color: #FCFAF6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-button:hover {
    background-color: #FCFAF6;
    color: #121113;
}

/* ICON DIVIDER */

.homepage-icon {
    text-align: center;
    margin: 250px;
}