* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #121113;
    background-color: #FCFAF6;
    height: 100%;
    margin: 0; 
}

main {
    margin: 0 auto;
    max-width: 2000px;
    min-height: 100vh;
}

h1 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    margin: 0;
}

h2 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding: 20px 50px;
    border: solid 2px #121113;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    color: #FCFAF6;
    background-color: #121113;
}

/* NAV BAR */

nav{
    max-width: 2500px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FCFAF6;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: px;
}

.nav-container img {
    width: 184px;
}


.nav-ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;    
}

.nav-li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 30px;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 8px;
    border: solid 2px transparent;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.nav-li:hover {
    border-color: #121113;

}

.nav-li:active {
    color: #FCFAF6;
    background-color: #121113;
}

a {
    text-decoration: none;
    color: #121113;
}



li {
    list-style: none;
    color: #121113;
}




.center-img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/* BACKGROUND VIDEO */

.hero {
    padding-top: 19px;
    margin-top: 100px;
}

.bg-video-wrapper {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

/* Gradient overlay ONLY on the video */
.bg-video-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

/* HEADER CONTENTS */

.header-logo {
    height: 300px;
}

.header-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 150px;
    z-index: 2;
    right: 100px;
}

.header-button {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 25px 60px;
    border-radius: 10px;
    border: solid 2px #FCFAF6;
    background: transparent;
    color: #FCFAF6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-button:hover {
    background-color: #FCFAF6;
    color: #121113;
}

/* ICON DIVIDER */

.homepage-icon {
    text-align: center;
    margin: 250px;
}

/* SYNOPSIS */

.synopsis {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 250px;
}

.synopsis-text {
    text-align: center;
    width: 530px;
}


.synopsis-text h1, h2 {
    margin-bottom: 15px;
}

.synopsis-text p {
    margin-bottom: 60px;
}


/* FILM INFO */

.film-info {
    margin-bottom: 150px;
}

.film-info img {
    width: 1110px;
}

.film-info-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 150px;
}

.film-info-content h3 {
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -5px;
}

.film-info-content p {
    font-size: 20px;
    margin-bottom: -5px;
}

/* DIRECTOR'S STATEMENT */

.director-statement {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.director-statement img {
    display: block;
    width: 100%;
    height: auto;
}

.directorstat-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 610px;
    z-index: 2;
    text-align: center;
}

.directorstat-content h1 {
    color: #FCFAF6;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.directorstat-content h3 {
    color: #BBBBBB;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}

.directorstat-content p {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FCFAF6;
    text-align: center;
}

.director-statement .ds-icon {
    width: 100px;
    margin-left: 580px;
    rotate: -15.58deg;
}

.director-statement .mei-signature {
    width: 340px;
    display: block;
    margin: 0px 110px;
}


/* MEET THE TEAM */

.meet-the-team {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.meet-the-team img {
    display: block;
    width: 100%;
    height: auto;
}

.meettheteam-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 610px;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 140px;
}

.meettheteam-content img {
    width: 337px;
}

.meettheteam-content p {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FCFAF6;
    text-align: center;
    width: 460px;
}

.meettheteam-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mei {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 16px;
    margin-bottom: 80px;
}

.mei img {
    width: 35px;
    margin: 0 auto;
}

.mei p {
    margin: 0;
    text-align: left;
    width: 54px;
}

.meettheteam-text button {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 35px;
    font-weight: 100;
    padding: 20px 50px;
    border-radius: 10px;
    border: solid 2px #FCFAF6;
    background: transparent;
    color: #FCFAF6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.meettheteam-text button:hover {
    color: #121113;
    background-color: #FCFAF6;
}